img {
    position: absolute;
    bottom: 0px;
    width: 6%;
    left: 45%;
    animation: car 10s infinite linear;
}
@keyframes car{
    0% {
        bottom: 0px;
        left: 45%;
        transform: rotate(0deg);
    }
    10% {
        bottom: 0px;
        transform: rotate(-90deg);
        left: 45%;
    }
    20% {
        bottom: 0px;
        transform: rotate(-90deg);
        left: 0%;
    }
    30% {
        left: 0%;
        transform: rotate(0deg);
        bottom: 0px;
    }
    40% {
        left: 0%;
        transform: rotate(0deg);
        bottom: 80%;
    }
    50% {
        left: 0%;
        transform: rotate(90deg);
        bottom: 80%;
    }
    60% {
        bottom: 80%;
        transform: rotate(180deg);
        left: 45%;
    }
    100% {
        bottom: 0%;
        transform: rotate(180deg);
        left: 45%;
    }
}