ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
#main-nav ul li {
    background-color: lightblue;
    text-align: center;
}
#main-nav > ul > li {
    /* display: inline; */
    display: inline-block;
    width: 12%;
    position: relative;
}

ul li a {
    display: block;
    color: #000;
    padding: 10px 0px;
    text-decoration: none;
}

#main-nav ul li:hover {
    background-color: lightcoral;
}

.dropdown {
    position: absolute;
    width: 100%;
    display: none;
}
#main-nav ul li:hover .dropdown {
    display: block;
}

#main-nav .dropdownMenu:after {
    content: "";
    position: absolute;
    right: 10px;
    top: 15px;
    border: 5px solid #fff;
    border-color: #fff transparent transparent;
}